<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Testing</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <meta charset="UTF-8">
</head>
<body>
<h1>Files</h1>

<div class="container">
    <button type="submit" onclick="node_create()">Create</button>
    <button type="button" onclick="node_delete()">Delete</button>
    <button type="button" onclick="node_rename()">Rename</button>
    <div id="node_tree"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<script type="text/javascript" src="/js/buttons/button.js"></script>
<script type="text/javascript" src="/js/tree/tree.js"></script>

</body>
</html>
